@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  font-family: "DM Mono", monospace;
  @apply bg-gray-50 dark:bg-zinc-950;
}

input:focus,
button:focus {
  outline: 1.5px solid black;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.home {
  height: 100vh;
  justify-content: center;
  padding-top: 0;
  margin-top: -2rem;
  transition: all 0.75s ease;
}

/* Your own custom utilities */

.spinner {
  animation: rotate4 2s linear infinite;
 }

.spinner circle {
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

input:checked + div svg {
  display: block;
}

input {
  @apply dark:text-zinc-100;
  @apply dark:bg-zinc-800;
}
